{% extends 'base.html' %}

{% block title %}{{ single_post.title }} | Django Blog{% endblock %}
{% block meta_description %}{{ single_post.short_description|truncatewords:25 }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    {# This route passes the post as `single_post`; alias it for the shared partial. #}
    {% with post=single_post %}
      {% include 'blog/includes/post_article.html' %}
    {% endwith %}
  </div>
</div>
{% endblock %}
