{% extends 'base.html' %}

{% block title %}Post Detail - Django Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <article class="blog-post">
            <h1 class="blog-post-title">Getting Started with Django</h1>
            <p class="blog-post-meta text-muted">August 16, 2026 by <a href="#">DevUser</a></p>
            <hr>
            <p>This is where the post content goes. Django provides a built-in ORM to fetch this content directly from your database.</p>
        </article>
        <a href="#" class="btn btn-secondary mt-3">Back to Posts</a>
    </div>
</div>
{% endblock %}